@page
@model WebApp.Pages.Account.ChangePassword

@{
}
<div>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <p>@Model.Message</p>
    }
</div>
<form method="post">
    <div class="text-danger" asp-validation-summary="All"></div>

    <input asp-for="userId" type="hidden"/>
    <input asp-for="token" type="hidden"/>

    <label for="changePasswordModel.NewPassword">New Password:</label>
    <input asp-for="changePasswordModel.NewPassword" type="password" required/>

    <label for="changePasswordModel.ConfirmPassword">Confirm Password:</label>
    <input asp-for="changePasswordModel.ConfirmPassword" type="password" required/>

    <button type="submit">Change Password</button>
</form>