@page
@model WebApp.Pages.Account.Register

@{
}

<h3>User Registration</h3>
<br />
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="registerModel.Email"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="registerModel.Email" class="form-control" />
                <span class="text-danger" asp-validation-for="registerModel.Email"></span>
            </div>
        </div>
        @* <div class="mb-3 row">
        <div class="col-2">
        <label asp-for="RegisterModel.UserName"></label>
        </div>
        <div class="col-5">
        <input type="text" asp-for="RegisterModel.UserName" class="form-control" />
        <span class="text-danger" asp-validation-for="RegisterModel.UserName"></span>
        </div>
        </div> *@
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="registerModel.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="registerModel.Password" class="form-control" />
                <span class="text-danger" asp-validation-for="registerModel.Password"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="registerModel.Name"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="registerModel.Name" class="form-control" />
                <span class="text-danger" asp-validation-for="registerModel.Name"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="registerModel.PhoneNumber"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="registerModel.PhoneNumber" class="form-control" />
                <span class="text-danger" asp-validation-for="registerModel.PhoneNumber"></span>
            </div>
        </div>

        @*  <div class="mb-3 row">
        <div class="col-2">
        <label asp-for="RegisterModel.Position"></label>
        </div>
        <div class="col-5">
        <input type="text" asp-for="RegisterModel.Position" class="form-control" />
        <span class="text-danger" asp-validation-for="RegisterModel.Position"></span>
        </div>
        </div> *@
        @* <div class="mb-3 row">
        <div class="col-2">
        <label asp-for="RegisterModel.Department"></label>
        </div>
        <div class="col-5">
        <input type="text" asp-for="RegisterModel.Department" class="form-control" />
        <span class="text-danger" asp-validation-for="RegisterModel.Department"></span>
        </div>
        </div> *@
        <div class="mb-3 row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>
</div>