@page
@model WebApp.Pages.Cart.cartinfo

@{
}

<div>
    @if (Model.cart.Items.Any())
    {
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>UserName</th>
                <th>Name Coin</th>
                <th>Price Coin</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.cart.Items)
            {
                <tr>
                    <td>@item.CoinId</td>
                    <td>@item.CoinName</td>
                    <td>@item.PriceCoin</td>
                    <td>@item.Amount</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No cart</p>
    }
</div>