@page
@model WebApp.Pages.Account.Admin.panel

@{
}
<h1>User List</h1>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>Name</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.AppUsers)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.Name</td>
            <td>@user.Role</td>
        </tr>
    }
    </tbody>
</table>